@font-face{
font-family:"MarcoPolo W00";
src:url("Fonts/867765/27e7dd90-ae11-4555-ab21-af9a0406b567.eot?#iefix");
src:url("Fonts/867765/27e7dd90-ae11-4555-ab21-af9a0406b567.eot?#iefix") format("eot"),url("Fonts/867765/60ec1546-e798-47c5-b865-e02dc69195c4.woff") format("woff"),url("Fonts/867765/25dceadc-d370-4217-b632-0eba056e050d.ttf") format("truetype"),url("Fonts/867765/0a70e838-851c-46cd-8af0-4e2420eee1ac.svg#0a70e838-851c-46cd-8af0-4e2420eee1ac") format("svg");
}
