<!doctype html>
<html lang='en' dir='ltr'>
  <head>
  <meta charset='UTF-8' />
  <title>Compilation, {{title}}</title>
  <meta name='description' content=''
    data-bookid='{{bookid}}'
    data-title='Compilation, {{title}}'
    data-shorttitle=''
    data-author='Bahá’u’lláh, ‘Abdu’l-Bahá, Shoghi Effendi'
  >
  <base href='https://dl.dropboxusercontent.com/u/382588/ocean2.0/Library/books-work/'>
  <link rel='stylesheet' type='text/css' href='assets/common/base.min.css'>
  <link rel='shortcut icon' href='assets/common/ocean-logo.png'/>

  <!-- JQuery & Plugins -->
  <script src='assets/common/jquery-2.1.3.min.js'></script>
    <script src='assets/common/scrollintoview.js'></script>
  <script src='assets/common/toc.js'></script>
  <script src='assets/common/fn.js'></script>
  <!-- temporary control panel -->
  <script src='assets/common/panel.js'></script>
</head>
<body class='ocean nodropcap'>

<!-- *************************************** -->
<section class='titlepage'>
  <h2 class='title'> Compilation, {{title}} </h2>
  <h3 class='author'> Bahá’u’lláh, ‘Abdu’l-Bahá, Shoghi Effendi </h3>
</section>



<section class='titlepage pagebreak-before pad-above'>
  <hr />
  <h3 class='copyright'> <a href='http://reference.bahai.org'>© Bahá’í International Community</a> </h3>
  <a href='http://bahai-education.org'><img class='logo' src='assets/common/ocean-logo.svg' alt='logo'  /></a>
  <hr />
</section>



<!-- *************************************** -->
<section id='section_toc' class='contents pagebreak-before' data-title='Table of Contents'>
  <h3>Table of Contents </h3>
</section>



<h1 class='section' id='section_main_title'> {{title}} </h1>

{{bookcontent}}


<!-- ============================ -->
    <br><br><br><br>
    <hr>
    <br><br>
  </body>
</html>