<!doctype html>
<html lang="en" dir="ltr">
  <head>
  <meta charset='UTF-8' />
  <title> {{count}} {{title}} </title>
  <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/u/382588/ocean2.0/Library/books-work/assets/common/ocean-logo.png"/>
  <link rel='stylesheet' type='text/css' href='https://dl.dropboxusercontent.com/u/382588/ocean2.0/Library/books-work/assets/common/base.min.css'>
  <style>
    span.small {font-size: 10pt; font-family: Typewriter; text-decoration: none; color: gray;}
    h1,h2,h3,h4,body,ol {font-family: Typewriter !important; letter-spacing: 2px !important;}
    ol {margin-left: 2em;}
  </style>
  </head>
<body class='ocean nodropcap font_typewriter'>
<img style='width:100px; float:right; margin-top:-25px' src='https://dl.dropboxusercontent.com/u/382588/ocean2.0/Library/books-work/assets/common/ocean-logo.svg' />
<h1 class='subhead'> {{count}} {{title}} </h1>
<ol>

  {{booklist}}


</ol>