<!-- start Section ==================================================== -->
<section class='{{meta.content|choose>content>}}{{classes}} {{.}}{{/classes}}' id='{{id}}'{{data}} data-{{name}}='{{value}}'{{/data}}>
  <div class='section_header{{header.classes}} {{.}}{{/header.classes}}' id='{{id}}_'>
{{header.headers}}    <h3 class='{{type}}{{classes}} {{.}}{{/classes}}' id='{{id}}'>{{title}}</h3>
{{/header.headers}}  </div> <!-- section_header -->


{{content}}
{{.}}
{{/content}}

</section>
<!-- end Section ==================================================== -->

