.Sitalcent {
FONT-style: italic;
}

.Sitalcentbold {
font-weight: bold;
FONT-style: italic;
}

.Scitation {
TEXT-DECORATION: none;
font-style: italic;
text-align: right;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
}

.Ssignature {
TEXT-DECORATION: none;
text-align: left;
padding-top: 8px;
padding-left: 25em;
padding-bottom: 8px;
}

.Sdate {
/* testing */
/* border: 1px solid red; */
text-align: left;
padding-top: 8px;
padding-left: 30em;
padding-bottom: 8px;
}

.Sblockquote2 {
/* testing */
/* border: 1px solid red; */
padding-top: 8px;
padding-right: 5em;
padding-bottom: 8px;
padding-left: 5em;
TEXT-DECORATION: none;
color: #000000;
}


.Stransliteration {
TEXT-DECORATION: none;
text-align: left;
color: #000000;
}

.Sarabic {
text-decoration: none;
text-align: right;
color: #000000;
}


.index1 {
/* testing */
/* border: 1px solid red; */
FONT-WEIGHT: bold;
FONT-SIZE: 14px;
LINE-HEIGHT: 22px;
TEXT-DECORATION: none;
TEXT-ALIGN: left;
TEXT-DECORATION: none;
text-transform: uppercase;
text-indent: -1px;
padding-left: 22px;
}
.index1 a:link { COLOR: #3c6d8b;
}

.index1 a:visited { COLOR: #3c6d8b;
}
.index1 a:active { COLOR: #3c6d8b;
}

.index2 {
/* testing */
/* border: 1px solid red; */
FONT-SIZE: 12px;
LINE-HEIGHT: 22px;
TEXT-TRANSFORM: uppercase;
TEXT-DECORATION: none;
LETTER-SPACING: 1px;
margin-left: 42px;
text-indent: -1px;
}
.index2 a:link { COLOR: #3c6d8b;
}
.index2 a:visited { COLOR: #3c6d8b;
}
.index2 a:active { COLOR: #3c6d8b;
}

.index3 {
/* testing */
/* border: 1px solid red; */
text-indent: -1px;
FONT-SIZE: 14px;
LINE-HEIGHT: 22px;
TEXT-DECORATION: none;
}
.index3 a:link { COLOR: #3c6d8b;
}

.index3 a:visited { COLOR: #3c6d8b;
}

.index3 a:active { COLOR: #3c6d8b;
}

.index4 {
/* testing */
/* border: 1px solid red; */
FONT-SIZE: 12px;
TEXT-INDENT: -1px;
margin-left: 18px;
TEXT-TRANSFORM: normal;
LINE-HEIGHT: 16px;
TEXT-DECORATION: none;
font-style:italic
}
.index4 a:link { COLOR: #3c6d8b;
}
.index4 a:visited { COLOR: #3c6d8b;
}
.index4 a:active { COLOR: #3c6d8b;
}

.index5 {
/* testing */
/* border: 1px solid red; */
FONT-SIZE: 12px;
TEXT-INDENT: -1px;
margin-left: 18px;
TEXT-TRANSFORM: normal;
LINE-HEIGHT: 16px;
TEXT-DECORATION: none;
font-style:italic
}
.index5 a:link { COLOR: #3c6d8b;
}
.index5 a:visited { COLOR: #3c6d8b;
}
.index5 a:active { COLOR: #3c6d8b;
}
